@import '@/app/vars';
.root {
  @apply z-50 pointer-events-none fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-0 flex justify-center items-center;
  .content {
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    background-color: $background-rgb;
    transition: all 0.3s ease-in-out;
  }
  .active {
    opacity: 1;
  }
}

.root_active {
  @apply pointer-events-auto bg-opacity-30 block  duration-200 ease-in-out flex justify-center items-center;
}
